html {
    box-sizing: border-box;
    font-size: 62.5%;
  }*, *:before, *:after {
    box-sizing: inherit;
  }
  :root {
    --naranja-primario: #F16B4E;
    --negro-primario: #1e1e1e;
    --negro-secundario: #222222;
    --blanco-primario: #FFF;
  }
  
  body{
      background-color: var(--negro-primario);
      color: var(--blanco-primario);
      font-family: "Inter" , sans-serif;
      font-style: normal;
      font-variation-settings:"slnt" 0;
      margin: 0;
  }
  textarea {
    resize: none;
  }
  a{
    text-decoration: none;
  }
  
  h1{
    font-size: 13rem; 
  }
  
  h2,h3,h4{
    font-size: 2.3rem;
    color: var(--naranja-primario);
  }