:root {
    --naranja-primario: #F16B4E;
    --negro-primario: #1e1e1e;
    --negro-secundario: #222222;
    --blanco-primario: #FFF;
}

.highway-card a { 
	color: inherit;
} 

section.slide-option {
	.no-marg { margin:0 0 0 0; }
}

.span_carousel{
	text-align: center;
}

.span_carousel:hover{
	cursor: pointer;
}

div.highway-slider {
	display:flex;
	justify-content:center;
	width:100%;
	height:150px;
	div.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	ul.highway-lane {
		display:flex;
		height:100%;
		li.highway-card {
			flex:1;
			display:flex;
			justify-content:center;
			align-items:center;
			background:var(--negro-primario);
			color:var(--naranja-primario);
		}
	}
}

.img_carousel {
	fill: var(--naranja-primario);
    width: 7rem;
	max-width: 7rem;
	min-width: 7rem;
}
.img_carousel_increment_size{
	width: 16rem;
	max-width: 16rem;
	min-width: 16rem;
}

@keyframes translatestf {
	0% { transform:translateX(100%);  }
	100% { transform:translateX(-1200%);  }
}
#stffull div.highway-barrier {
	ul.highway-lane {
		width:1200%;
		li.highway-card {
			animation:translatestf 90s linear infinite;
			h4 { font-size:28px; }
		}
	}
}

@keyframes translateinfinite {
	100% { transform:translateX(calc(-180px * 45));  }
}
#infinite div.highway-barrier {
	background:var(--negro-primario);
	box-shadow:0 3px 10px -3px rgba(0,0,0,0.3);
	&::before,
	&::after {
		content: " ";
		position:absolute;
		z-index:9;
		width:180px;
		height:100%;	
	}
    &::before { top: 0; left: 0; 
        background: linear-gradient(to right, var(--negro-primario) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &::after { top: 0; right: 0; 
        background: linear-gradient(to left, var(--negro-secundario) 0%, rgba(255, 255, 255, 0) 100%);
    }

	ul.highway-lane {
		width:calc(180px * 45);
		li.highway-card {
			width:180px;
			margin-right: 1rem;
			animation:translateinfinite 80s linear infinite;
			span.fab {
				font-size:65px;
			}
		}
	}
}