html {
  box-sizing: border-box;
  font-size: 62.5%;
}*, *:before, *:after {
  box-sizing: inherit;
}
:root {
  --naranja-primario: #F16B4E;
  --negro-primario: #1e1e1e;
  --negro-secundario: #222222;
  --blanco-primario: #FFF;
}

body{
    background-color: var(--negro-primario);
    color: var(--blanco-primario);
    font-family: "Inter" , sans-serif;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin: 0;
}
a{
  text-decoration: none;
}

h2,h3,h4{
  font-size: 2.3rem;
  color: var(--naranja-primario);
}

.div_generico{
  margin-left: 2rem;
  scroll-snap-align: x mandatory;
  display: flex;
}

.linea_generica_naranja{
  border: .18rem solid var(--naranja-primario); 
  width: 12rem;
  margin-top: 3.4rem;
  margin-left: 1rem;
}

/* Header start */
.navegacion_principal{
  display: flex;
  margin-left: 5rem;
}

.navegacion_div{
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.navegacion_p{
  font-size: 2.5rem;
  display: inline;
  transition: color 0.5s ease-in-out;
}

.navegacion_p:hover{
  color:var(--naranja-primario);
  transition: color 0.5s ease-in-out;
}

#logo{
  max-width: 5rem;
  margin-top: -.5rem;  
}

#logo:hover{
  cursor: pointer;
}

/* header end */

#lightnes:hover, #ingles:hover,.navegacion_p:hover, #curriculum:hover{
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.1);
}

#lightnes, #ingles, #curriculum{
  max-width: 5rem;
  margin: 2rem;
  margin-bottom: 0;
  transform: scale(1.0);
  transition: transform 0.5s;

}

.luz_traduccion_download {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;

}

.tooltipIngles, .tooltipCurriculum {
  position: relative;
  display: block;
  margin: 0;
}

.tooltipIngles::after {
  content: "Clic para cambiar al inglés.";
  visibility: hidden;
  width: 200px;
  color:var(--blanco-primario);
  text-align: center;
  padding: 0;
  border-radius: 6px;
  position: absolute;
  bottom: 80%; /* Coloca el tooltip arriba del elemento */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  opacity: 0;
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

/* Muestra el tooltip al pasar el mouse sobre el contenedor */
.tooltipIngles:hover::after {
  visibility: visible;
  opacity: 1;
}

.tooltipCurriculum::after {
  content: "Descargar CV";
  visibility: hidden;
  width: 200px;
  color: var(--blanco-primario);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  bottom: 80%; /* Coloca el tooltip arriba del elemento */
  left: 50%;
  transform: translateX(-50%); /* Centra horizontalmente */
  opacity: 0;
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

/* Muestra el tooltip al pasar el mouse sobre el contenedor */
.tooltipCurriculum:hover::after {
  visibility: visible;
  opacity: 1;
}


.div_principal_contenido{
  height: 100vh;
}

.principal{
  height: 100vh;
}

.principal_div{
  display: flex;
  justify-content: center;
}

.titulo_principal_div{
  justify-content: center;
}
.navegacion_p, .presentacion_titulo, .locacion{
  font-weight: bold;
}
.presentacion_titulo{
  color: var(--naranja-primario);
  font-size: 1.8rem;

}

.titulo_principal{
  letter-spacing: .2rem;
  font-size: 8rem;
}

#inosuke{
  /* position: absolute; */
  top: 0;
  height: 700px;
  width: 800px;
}

.locacion{
  color: var(--blanco-primario);
}

.refran{
  font-style: italic;
}

/* section sobre mi inicio*/
.section_sobre_mi{
  background-color: var(--negro-secundario);
}

/* section tecnologias inicio*/
.section_tecnologias{
  background-color: var(--negro-secundario);
  height: 90vh;
}

.div_tecnologias_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.tecnologia {
  text-align: center;
  margin-bottom: 3rem;
}

.img_tecnologia {
  max-width: 12rem;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease; 
}

.img_tecnologia:hover {
  filter: grayscale(0%);
  transition: filter 0.6s ease; 
}

/* section tecnologias fin */


/* Form start */
.fieldset_principal{
  border: 1rem solid var(--blanco-primario);
  width: auto;
  padding: 4rem;
  margin-bottom: 4rem;
}

.section_formulario{
  background-color: var(--negro-primario);
  width: 100%;
}

.form_principal{
  display: flex;
  justify-content: center;
}
.div_label_input{
  margin-top: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}


/* Form end */
footer{
  background-color: var(--negro-secundario);
  position: relative;
  bottom: 0;
  width: 100%;
}

.div_img{
  display: flex;
}
/* Section footer start */
.div_img{
  display: flex;
  justify-content: flex-end;

}

.img_footer{
  width: 4rem;

}

.img_footer{
  max-width: 5rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  transform: scale(1.0);
  transition: transform 0.5s;
}

.img_footer:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s;
}
/* Section footer end */
