html {
    box-sizing: border-box;
    font-size: 62.5%;
  }*, *:before, *:after {
    box-sizing: inherit;
  }
body{
    background-color: #1e1e1e;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.navegacion_principal{
  display: flex;
}

.navegacion_div{
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.navegacion_p{
    font-weight: bold;
    font-size: 2rem;
    display: inline;
    background-color: red;
}

.navegacion_p:hover{
  cursor: pointer;
}

.titulo_principal{
  letter-spacing: .2rem;
  font-size: 6rem;
}

.cambiar_lenguaje {
  position: relative;
  display: inline;
}

.cambiar_lenguaje::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/Cascaron\ Portafolio/images/english.png');
  background-size: contain; /* Ajusta el tamaño de la imagen */
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.cambiar_lenguaje:hover::before {
  opacity: 1;
  cursor: pointer;
}